<h1>EXAMPLE ngx-lib</h1>
<hr>
<ngx-example [inputExample]="'my input text from main app'"></ngx-example>
<br>
<div ngxBackground [color]="'yellow'">HOVER to test ngx-background directive</div>
<br>
<button type="button" (click)="onClick()">test ngx-lib service function</button>
<br>
<h2>Image from ngx-lib assets</h2>
<img [src]="'/ngx-lib/assets/img/img-example.png'" alt="example img from assets of lib">
<br>
<h2>Image url to test ngx-safe pipe</h2>
<img [src]="'https://image.shutterstock.com/image-illustration/explosion-pink-blue-powder-freeze-600w-1077184466.jpg' | ngxSafe:'resourceUrl'"
    alt="example resource html with pipe from lib">
<br>